---
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Über uns',
};
---

<Layout metadata={metadata}>
  <Steps
    items={[
      {
        title: 'Wer?',
        description:
          'Wir sind Carina und Florin und freuen uns, Sie in unserem neuen Restaurant im Seehäusl in Penzing am See begrüßen zu dürfen.',
        icon: 'tabler:users',
      },
      {
        title: 'Wann?',
        description:
          'Egal, ob zum Frühstück, mittags oder zum Abendessen - bei uns genießen Sie liebevoll zubereitete internationale Küche aus besten Zutaten.',
        icon: 'tabler:clock',
      },
      {
        title: 'Was?',
        description:
          'Wir legen stets größten Wert auf hochwertige regionale Produkte. Unsere Rezepte sind ideenreich und rangieren von Burgern oder Pizza über Fisch- und Fleischgerichte hin zu frischen Salaten. Zum Frühstück gibt es Smoothies, Bagels, gesunde Brote oder unsere beliebten hausgemachten Magic Pancakes.',
        icon: 'tabler:chef-hat',
      },
      {
        title: 'Wir freuen uns auf Sie!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/CuF.webp',
      alt: 'Carina und Florin',
    }}
  >
    <Fragment slot="title">
      Lernen Sie das <span class="text-accent">Green 18</span> kennen
    </Fragment>
  </Steps>

  <Features2
    title="Kontakt"
    columns={2}
    items={[
      {
        title: 'Schreiben Sie uns',
        description: 'Haben Sie Fragen, Wünsche oder Anmerkungen? Schreiben Sie uns gerne einfach eine E-Mail.',
        icon: 'tabler:mail',
        callToAction: {
          href: 'mailto:green18.restaurant@web.de',
          variant: 'link',
          text: 'green18.restaurant@web.de',
          icon: 'tabler:pencil',
        },
      },
      {
        title: 'Chatten Sie mit uns',
        description:
          'Sie können natürlich auch gerne auf Instagram mit uns in Kontakt treten. Und nebenbei sehen Sie dort auch allerlei Leckereien aus unserer Küche. 😀',
        icon: 'tabler:messages',
        callToAction: {
          href: 'https://www.instagram.com/green18.restaurant/',
          target: '_blank',
          variant: 'link',
          text: 'Zu unserem Instagram-Profil',
          icon: 'tabler:brand-instagram',
        },
      },
    ]}
  />
</Layout>
