---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Content from '~/components/widgets/Content.astro';
import Button from '~/components/ui/Button.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '../utils/permalinks';

const metadata = {
  title: 'Green 18 am Penzinger See',
  ignoreTitleTemplate: true,
};

const resmioContent = `<div id="resmio-green-18"></div>
<script>(function(d, s) {
    var js, rjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.src = "//static.resmio.com/static/de/widget.js#id=green-18&id=green-18&color=%23555555&style=&width=100%&height=523&fontSize=16px&showLogo=false&borderRadius=10&facebookLogin=true&backgroundColor=%23ffffff&disableBranding=false&commentsDisabled=false&newsletterSignup=false&linkBackgroundColor=%23417505";
    rjs.parentNode.insertBefore(js, rjs);
}(document, "script"));
</script>`;
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Jetzt reservieren',
        href: getPermalink('/#reservation'),
        icon: 'tabler:tools-kitchen-2',
      },
      { text: 'Über uns', href: getPermalink('/about') },
    ]}
    image={{ src: '~/assets/images/pasta.jpg', alt: 'Green 18 Hero Image' }}
  >
    <Fragment slot="title">
      Herzlich willkommen im <span class="text-accent">Green 18</span>
    </Fragment>

    <Fragment slot="subtitle">
      Im <span class="text-accent">Seehäusl</span> direkt am Penzinger See bei Wasserburg. Gemütliches Ambiente, freundlicher
      Service und immer <span class="font-semibold">lecker</span>!
    </Fragment>
  </Hero>

  <Note />

  <Content
    isReversed
    tagline="Das Seehäusl"
    title="So kommen Sie zu uns"
    image={'<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10664.748080495312!2d12.2381364!3d48.0680329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4775fd50c68a8ffb%3A0x82606d71d5305907!2sSeestra%C3%9Fe%204%2C%2083547%20Babensham!5e0!3m2!1sen!2sde!4v1729803295881!5m2!1sen!2sde" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>'}
  >
    <Fragment slot="content">
      <div class="space-y-10">
        <div>
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Adresse</h3>
          <p>
            <Button href="https://maps.app.goo.gl/izfMhb4aTZvQMP2S8" target="_blank" variant="link" icon="tabler:map-2"
              >Seestraße 4, 83547 Penzing bei Wasserburg
            </Button>
          </p>
        </div>
        <div>
          <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Öffnungszeiten</h3>
          <div class="mb-2">Montag Ruhetag</div>
          <div>Dienstag bis Sonntag</div>
          <div class="font-semibold">09:00 - 14:00 Uhr</div>
          <div class="font-semibold">17:00 - 22:00 Uhr</div>
          <div class="text-sm">(Küche geöffnet bis 21:00 Uhr)</div>
        </div>
      </div>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Hero id="reservation" image={resmioContent}>
    <Fragment slot="title"> Jetzt reservieren </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Hero>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Jetzt bestellen',
        href: 'https://mylightspeed.app/giftcard/73d87e4f-0b73-4bd8-a34c-8fe70f125fda/menu',
        target: '_blank',
        icon: 'tabler:gift',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Geschenkgutschein gefällig?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Überraschen Sie Ihre Lieben mit einem Geschenkgutschein für das <span class="text-accent">Green 18</span>!
    </Fragment>
  </CallToAction>
</Layout>
